aenum==3.1.15 ; python_version >= "3.11" and python_version < "3.12"
protobuf==5.29.3 ; python_version >= "3.11" and python_version < "3.12"
agate==1.9.1 ; python_version >= "3.11" and python_version < "3.12"
aiohappyeyeballs==2.5.0 ; python_version >= "3.11" and python_version < "3.12"
apispec[yaml]==6.4.0 ; python_version >= "3.11" and python_version < "3.12"
astronomer-cosmos==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
connexion[flask]==2.14.2 ; python_version >= "3.11" and python_version < "3.12"
daff==1.3.46 ; python_version >= "3.11" and python_version < "3.12"
dbt-adapters==1.14.1 ; python_version >= "3.11" and python_version < "3.12"
dbt-common==1.15.0 ; python_version >= "3.11" and python_version < "3.12"
dbt-core==1.9.3 ; python_version >= "3.11" and python_version < "3.12"
dbt-extractor==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
dbt-postgres==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
dbt-semantic-interfaces==0.7.4 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-api==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-common==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-proto==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-sdk==1.30.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-semantic-conventions==0.51b0 ; python_version >= "3.11" and python_version < "3.12"
deepdiff==7.0.1 ; python_version >= "3.11" and python_version < "3.12"
deprecation==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
imap-tools==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
leather==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
mashumaro[msgpack]==3.14 ; python_version >= "3.11" and python_version < "3.12"
more-itertools==10.6.0 ; python_version >= "3.11" and python_version < "3.12"
msgpack==1.1.0 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.4.2 ; python_version >= "3.11" and python_version < "3.12"
parsedatetime==2.6 ; python_version >= "3.11" and python_version < "3.12"
propcache==0.3.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.27.2 ; python_version >= "3.11" and python_version < "3.12"
pytimeparse==1.1.8 ; python_version >= "3.11" and python_version < "3.12"
requests-file==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
snowplow-tracker==1.1.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
zeep==4.3.1 ; python_version >= "3.11" and python_version < "3.12"