<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://servico.wssiapenet">
  <soapenv:Header/>
  <soapenv:Body>
    <ser:consultaDadosAfastamentoHistorico>
      <siglaSistema>{{ siglaSistema }}</siglaSistema>
      <nomeSistema>{{ nomeSistema }}</nomeSistema>
      <senha>{{ senha }}</senha>
      <cpf>{{ cpf }}</cpf>
      <codOrgao>{{ codOrgao }}</codOrgao>
      <parmExistPag>{{ parmExistPag }}</parmExistPag>
      <parmTipoVinculo>{{ parmTipoVinculo }}</parmTipoVinculo>
      <anoInicial>{{ anoInicial }}</anoInicial>
      <mesInicial>{{ mesInicial }}</mesInicial>
      <anoFinal>{{ anoFinal }}</anoFinal>
      <mesFinal>{{ mesFinal }}</mesFinal>
    </ser:consultaDadosAfastamentoHistorico>
  </soapenv:Body>
</soapenv:Envelope>
