<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://servico.wssiapenet">
  <soapenv:Header/>
  <soapenv:Body>
    <ser:listaInformacoesAposentadoria>
      <siglaSistema>{{ siglaSistema }}</siglaSistema>
      <nomeSistema>{{ nomeSistema }}</nomeSistema>
      <senha>{{ senha }}</senha>
      <cpf>{{ cpf }}</cpf>
      <anoMes>{{ anoMes }}</anoMes>
      <codOrgao>{{ codOrgao }}</codOrgao>
      <nivelSituacaoFuncional>{{ nivelSituacaoFuncional }}</nivelSituacaoFuncional>
      <matricula>{{ matricula }}</matricula>
    </ser:listaInformacoesAposentadoria>
  </soapenv:Body>
</soapenv:Envelope>
